<div class="theme-orange" style='background: firebrick;'>
  <!-- Page Loader -->
  <div class="page-loader-wrapper">
      <div class="loader">
          <div class="preloader">
              <div class="spinner-layer pl-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
          <p>Please wait...</p>
      </div>
  </div>
  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
   <!-- Top Bar -->
  <nav class="navbar" style='background: firebrick;'>
      <div class="container-fluid">
          <div class="navbar-header">
              <a  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
              <a  class="bars" style='color: #fff;'></a>
              <a class="navbar-brand" style='color: #fff;font-weight:900;' href="#">MCP</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <!-- setting -->
                  <li class="dropdown" style='height:25px !important;'>
                              <a  class="dropdown-toggle" data-toggle="dropdown" role="button">
                                  <i class="material-icons" style='color: #fff;' >settings</i>
                                  <span class="label-count"></span>
                              </a>
                              <ul class="dropdown-menu" style="margin-top:30px!important;height:180px!important;">
                                  <li class="header">
                                          <i class="material-icons">settings</i>
                                          <div class="menu-info">
                                              <h4>Last login</h4>
                                              <p>00:00:00</p>
                                          </div>    
                                  </li>
                                  <li class="body">
                                          <ul class="menu tasks">
                                              <li style='list-style: none;text-align:center'>
                                                  <a (click)="logout()">
                                                    <i class="material-icons">input</i><h4>Sign Out</h4>
                                                  </a>
                                              </li>
                                          </ul>
                                  </li>
                  <!-- #END# Setting -->
              </ul>
                  </li>	
                      </ul>		
          </div>
      </div>
  </nav>
  <!-- #Top Bar -->

<!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
          <!-- User Info -->
          <div class="user-info">
              <div class="image">
                  <!--<img src="../images/user.png" width="48" height="48" alt="User" />-->
              </div>
              <div class="info-container">
                  <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{Uname}}</div>
                  <!--<div class="email">kunal.singh@kantar.com</div>-->
                  <div class="btn-group user-helper-dropdown">
                      <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                      <ul class="dropdown-menu pull-right">
                          <li><a (click)="logout()" ><i class="material-icons">input</i>Sign Out</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- #User Info -->
          <!-- Menu -->
          <div class="menu">
              <ul class="list">
                  <li class="header">MAIN NAVIGATION</li>
                  <li>
                      <a href="#">
                          <i class="material-icons">person_outline</i>
                          <span>Profile</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="material-icons">help</i>
                          <span>Help</span>
                      </a>
                  </li>
                 </ul>
          </div>
          <!-- #Menu -->
          <!-- Footer -->
          <div class="legal">
              <div class="copyright">
                  &copy; 2018 <a >Kantar Insights</a>.
              </div>
              <div class="version">
                  <b>Version: </b> 1.0.0
              </div>
          </div>
          <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->	

  <section class="content">
      <div class="container-fluid">
          <div class="row clearfix">
              <div class="col-xs-12 col-sm-12">
                  <div class="card">
                      <div class="body">
                          <div>
                              <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#home" aria-controls="home" [routerLink]="['/dashboard']"role="tab" data-toggle="tab">Home</a></li>
                                  <li role="presentation"><a href="#create" [routerLink]="['create-upate']" aria-controls="settings" role="tab" data-toggle="tab">Create Project</a></li>
                                  <li role="presentation"><a href="#follow" [routerLink]="['followup']" aria-controls="settings" role="tab" data-toggle="tab">FollowUP</a></li>
                              </ul>

                              <div class="tab-content">
                                  <div role="tabpanel" class="tab-pane fade in active" id="home">
                                      <div class="panel panel-default panel-post">
                                          <div class="panel-body">
                                              <router-outlet></router-outlet>     
                                            </div>
                                            <div class="panel-footer">
                    
                      
                                            </div>
                                          </div>
                                      </div>
                                </div>
                
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  </section>

  <!-- Jquery Core Js -->
  <script src="../../plugins/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core Js -->
  <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

  <!-- Select Plugin Js -->
  <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

  <!-- Slimscroll Plugin Js -->
  <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

  <!-- Waves Effect Plugin Js -->
  <script src="../../plugins/node-waves/waves.js"></script>

  <!-- Custom Js -->
  <script src="../../js/admin.js"></script>
  <script src="../../js/pages/examples/profile.js"></script>

  <!-- Demo Js -->
  <script src="../../js/demo.js"></script>

</div>
